@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/scss/_typeplate.scss";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-duration: 0.2s;
    transition-property: all;//opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: block;
    text-align: justify;
    font-size: 0;
    position: relative;

    > * {
        display: inline-block;
        width: 100%;
        font-size: 1rem;
        text-align: left;
    }

    &:after {
        display: table;
        width: 100%;
    }
}

@mixin grid_r($col, $width, $padding: 0) {
    @media screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{100/$col}%;
                padding: #{$padding}px;
            }
        }
    }
}

@mixin grid($col, $padding: 0) {
    .grid-#{$col} {
        & > * {
            width: #{100/$col}%;
            padding: #{$padding}px;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(8);
@include grid_r(2,400);
@include grid_r(2,800);
@include grid_r(4,400);
@include grid_r(4,800);
@include grid_r(8,800);
@include grid_r(8,1024);
@include grid_r(8,1280);

/**
 * GENERAL
 */

img {
    max-width: 100%;
}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

/**
 * App code
 */

$font-main: 'Open-Sans', sans-serif;
$font-sub: 'Playfair Display', serif;
$primary-color: #95a5a6;
$secondary-color: #0031B2;
$tertiary-color: #fff;

body {
    background-color: $tertiary-color;
}

// --------------- Header View --------------- //
.header {
    h1 {
        font-family: $font-main;
        color: $secondary-color;
        font-size: 50px;
        font-style: normal;
        margin-top: 50px;
    }
}

// --------------- Splash View --------------- //

.splash {
    margin: 0 auto;
    text-align: center;

    .signInContainer {
        margin: 0 auto;
        width: 400px;
        border: 2px solid white;

        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px $tertiary-color inset;
            -webkit-text-fill-color: $secondary-color !important;
        }

        input.inputEmail {
            margin: 25px;
            outline: none;
            border: none;
            height: 35px;
            width: 300px;
            padding: 10px;
            font-family: $font-sub;
            background-color: $tertiary-color !important;
            color: $secondary-color;
            border-bottom: 2px solid $secondary-color;
        }

        input.inputPass {
            margin: 25px;
            outline: none;
            border: none;
            height: 35px;
            width: 300px;
            padding: 10px;
            letter-spacing: 2px;
            background-color: $tertiary-color !important;
            color: $secondary-color;
            border-bottom: 2px solid $secondary-color;
        }

        button {
            outline: 0;
            border: 2px solid $secondary-color;
            border-radius: 5px;
            height: 45px;
            width: 90px;
            background: $secondary-color;
            margin: 10px 10px 50px 10px;
            color: $tertiary-color;
            font-family: $font-main;
            font-size: 14px;
            outline: 0;
        }

        button:hover {
            -webkit-transform: scale(1.03,1.05);
            -webkit-transition-timing-function: ease-out;
            -webkit-transition-duration: 250ms;
            -moz-transform: scale(1.03,1.05);
            -moz-transition-timing-function: ease-out;
            -moz-transition-duration: 250ms;
        }

        button:focus {
            background-color: #0041F2;
            border-color: #0041F2;
        }
    }
}

// --------------- Dash View --------------- //

.dash {
    margin: auto;
    text-align: center;

    p {
        font-family: $font-sub;
        color: $secondary-color;
    }

    .dashOptions {
        margin: auto;

        a {
            margin: 20px;
            display: inline-block;
            font-family: $font-main;
            color: $secondary-color;
            font-size: 26px;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

// --------------- Add Post --------------- //

.addpost {
    margin: auto;
    text-align: center;

    p {
        font-family: $font-sub;
        color: $secondary-color;        
    }

    a {
        margin: 20px;
        display: inline-block;
        font-family: $font-main;
        color: $secondary-color;
        font-size: 26px;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    #title {
        font-family: $font-sub;
        color: $secondary-color;
        margin: 0 auto;
        display: block;
        width: 700px;
        border: none;
        outline: none;
        resize: none;
        background-color: $tertiary-color;
        border-bottom: 2px solid $secondary-color;
    }

    #content {
        font-family: $font-sub;
        color: $secondary-color;
        margin: 50px auto;
        display: block;
        width: 700px;
        min-height: 50px;
        border: none;
        outline: none;
        resize: none;
        background-color: $tertiary-color;
    }

    #submitButton {
        outline: 0;
        border: 2px solid $secondary-color;
        border-radius: 5px;
        height: 45px;
        width: 90px;
        background: $secondary-color;
        margin: 10px 10px 50px 10px;
        color: $tertiary-color;
        font-family: $font-main;
        font-size: 14px;
        outline: 0;
    }

    #submitButton:hover {
        -webkit-transform: scale(1.03,1.05);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 250ms;
        -moz-transform: scale(1.03,1.05);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 250ms;
    }

    #submitButton:focus {
        background-color: #0041F2;
        border-color: #0041F2;
    }
}

// --------------- My Posts --------------- //

.myPostsList {
    margin: auto;
    text-align: center;

    .dashOptions {
        margin: auto;

        a {
            margin: 20px;
            display: inline-block;
            font-family: $font-main;
            color: $secondary-color;
            font-size: 26px;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    p {
        width: 700px;
        font-family: $font-sub;
        color: $secondary-color;
        text-align: left;
        display: inline-block; 
    }

    p+p {
        text-indent: 0;
    }

    p:nth-child(2) {
        margin-bottom: 50px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
